@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');



html {
 background: rgb(240, 128, 128);
}



.App{
  /* height: 100vh; */
  /* width: 100vw; */
  

}





.tideData {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 550px 0 0 0;
  
  
 

}

.cardGroup{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;
}
#card{
  color: white;
  background: #0099ff;
}

@media only screen and (max-width:400px) {
  .tideData {
    margin: 500px 0 0 0;
  }
}

@media only screen and (max-width:330px) {
  .tideData {
    margin: 350px 0 0 0;
  }
}

@media only screen and (min-width:900px) and (max-width:1100px) {
  .tideData {
    margin: 675px 0 0 0;
  }
}








